<div class="grid-x  grid-padding-x  align-middle  bg-blue-grad  padding-wrap">
    <div class="cell  small-12">
        <div class="grid-x  grid-padding-x  align-middle">

            <div class="cell  small-12  medium-3  reviews__hr">
                <h2 class="bold  white  reviews__h1">{{ entry.rating }}</h2>
                <p class="bold  white  reviews__h2">Checkatrade rating {{ entry.reviewCount }} Reviews</p>
            </div>

            <div class="cell  small-12  medium-9">
                <p class="bold  white">{{ entry.reviewCopy }}</p>
            </div>

        </div>
    </div>
</div>