.about {
    margin:0;


    &__item {
        padding: 0 1rem;
        @include breakpoint(medium) {
            padding: 0 2rem;
        }
        @include breakpoint(large) {
            padding: 0 3rem;
        }
    }

    &__title {
        font-size: 2rem;
        margin: 1rem 0;
        @include breakpoint(medium) {
            font-size: 1.5rem;
            margin:0;
        }
        @include breakpoint(large) {
            font-size: 2rem;
        }
    }

    &__wrap {
        padding: 1rem;
        @include breakpoint(medium) {
            padding: 0;
        }
    }
}

.about .grid-container .cell {
    padding: 0;
}