<section class="home-about">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x  home-about__bg  padding-wrap  align-center">
            <div class="cell  medium-4  large-3">
                <img class="home-about__image" src="assets/img/mug-shot.png">
            </div>
            <div class="cell  medium-8 ">
                <h1 class="home-about__title  bold">About</h1>
                <hr class="hr">
                <p>We offer a host of services to our customers, carried out by qualified engineers to ensure that your heating and plumbing are running smoothly and efficiently without delay. We tackle jobs of any size no matter how big or small and offer a full end-to-end service including any building work that may be needed on larger projects.</p>
            </div>
        </div>
    </div>
</section>