<section class="home-trust">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x  align-middle">
            <div class="cell  medium-4">
                <h2 class="home-trust__title  bold">People & work you can trust</h2>
            </div>
            <div class="cell  medium-4  text-center">
                <img src="assets/img/checkatrader.jpg" alt="Check a trader">
            </div>
            <div class="cell  medium-4  text-center">
                <img src="assets/img/advance.jpg" alt="Advance">
            </div>
            <div class="cell  medium-4  text-center">
                <img src="assets/img/gas-safe.jpg" alt="Gas Safe">
            </div>
            <div class="cell  medium-4  text-center">
                <img src="assets/img/rate-people.jpg" alt="Rate People">
            </div>
            <div class="cell  medium-4  text-center">
                <img src="assets/img/anglianwater.jpg" alt="Anglian Water">
            </div>
        </div>
    </div>
</section>