/*----------------------------------------------------------------------------*\
    #FORM ELEMENT STYLES
\*----------------------------------------------------------------------------*/

label {
    display: none;
}

[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea {
    border: none;
    border-bottom: 0.1rem solid white;
    background-color: none;
    background: none;
    color: white;
    box-shadow: none;
    min-width: 100%;

    &::placeholder {
        color: white;
        opacity: 0.9; /* Firefox */
        font-size: 0.9rem;
    }

    &:focus {
        background: none;
        border: none;
        border-bottom: 0.15rem solid $blue;
        box-shadow: none;
    }
}

